node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
coverage/
.expo*
.husky*
# macOS
.DS_Store
yarn.lock
package-lock.json
# https://github.com/facebook/create-react-app/issues/10161
.eslintcache
